.movie-wrapper{
    max-width: 100%;
    width: 25%;
    /* min-width: 10%; */
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--card-background);
    color: var(--font-color);
}

@media screen and (max-width: 768px) {
    /* Adjust width for smaller screens */  
    .movie-wrapper {
        width: 50%; 
      
    }
}

@media screen and (max-width: 480px) {
    /* Full width for even smaller screens */
    .movie-wrapper {
        width: 80%;      
    }
}
.movie-image{
    text-align: center;
    width: 80%;
}
.movie-image > img{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    
}


.movie-title{
    margin-top: 1rem;
    font-size: x-large;
    letter-spacing: 3px;
    text-align: center;
}
.movie-year , .movie-type{
    margin-top: .7rem;
    font-size: larger;
    text-align: center;
}