.navbar-wrapper{
    display: flex;
    /* justify-content: space-between; */
    padding: 1.5rem;
    height: 2.5rem;
    border: 4px solid var(--dull-blue);
    border-radius: 10px ;
    align-items: center;
    background-color: var(--dull-blue);
    color: white;
}
.search-bar{
    flex-basis: 70%;
    height: 100%;
  
}
.search-bar > input{
    width: 80%;
    margin: 0 auto; /* Center the input horizontally */
    display: block;
    height: 100%;
    border: 2px solid var(--dull-blue) ;
    border-radius: 5px;  
    background-color: var(--light-prime-gray);
    padding-left: 10px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
.search-bar > input:focus{
    outline: none;
}

.navbar-title{
    font-size: 2rem;
    letter-spacing: 15px;
}

.navbar-theme{
    flex-basis: 15%;
}
